spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://auth.kds.com.br/realms/kds
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs
